body {
	background-color: rgba(255, 135, 113, 0.8);
}

.hidden {
	display: none;
}
.showing {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form input {
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 15px 0px;
	margin-top: 40px;
}

.form input:focus {
	outline: none;
}

.form input:focus {
	border-color: olivedrab;
}

.greeting {
	font-size: 20px;
	color: forestgreen;
	padding: 15px 0px;
	margin-top: 40px;
}
.timer {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.timer_number {
	color: tomato;
	font-family: monospace;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.timer_cycle {
	display: flex;
	align-items: center;
	justify-content: center;
	block-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 35px;
}

.timer_control {
	display: flex;
	justify-content: space-evenly;
}

.timer_control button {
	border: none;
	border-radius: 50%;
	height: 40px;
	background-color: tomato;
	font-family: monospace;
	font-weight: 500;
	color: whitesmoke;
}

button:focus {
	outline: none;
}

.timer_status {
	padding-bottom: 0px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pomodoro-status {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]#pomodoro__timer:checked
	~ nav
	> label[for="pomodoro__timer"] {
	background-color: white;
}

.nav {
	position: fixed;
	z-index: 2;
	right: 30px;
	top: 50%;
}

.nav__item {
	width: 12px;
	height: 12px;
	display: block;
	margin: 12px;
	border: solid 2px white;
	border-radius: 50%;
	cursor: pointer;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.nav__item:hover {
	background-color: rgb(76, 213, 76);
}
